.heroes {
  list-style: none;
  width: 10em;
  li {
    margin-top: 4px;
    line-height: 2em;
    height: 2em;
    border-radius: 4px;
    background: #eee;
    cursor: pointer;
    span {
      width: 2em;
      text-align: center;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      display: inline-block;
      background: #999;
      color: #fff;
      margin-right: 0.5em;
    }
    &:hover,
    &.selected {
      background: #aaa;
      color: #fff;
    }
  }
}
